<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735529087355-ink4qj6old427b110m784c4rtst74lrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735529087355-ink4qj6old427b110m784c4rtst74lrg</string>
	<key>API_KEY</key>
	<string>AIzaSyDURgeMXdPQi8foPTyfWTM5c1p9G1b1hPE</string>
	<key>GCM_SENDER_ID</key>
	<string>735529087355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mymusicfirst.amusicApp</string>
	<key>PROJECT_ID</key>
	<string>jhankar-music-6</string>
	<key>STORAGE_BUCKET</key>
	<string>jhankar-music-6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735529087355:ios:9bce97a36b76cee844cdde</string>
</dict>
</plist>